.mainLogInSignUP {
    background: linear-gradient(90deg, #facace 0%, #f0dded 100%);
    width: 465px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.SectionOut {
    background: white;
    border-top-left-radius: 20px;
}

.HeaderOut {
    display: flex;
    height: 50px;
    background: linear-gradient(90deg, #facace 0%, #f0dded 100%);
}

.optionOut {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 231px;
}

.optionOut div {
    display: flex;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}


.optionOut {
    background: white;
}


.optionOut div {
    background: linear-gradient(90deg, #facace 0%, #f0dded 100%);
    border-bottom-right-radius: 20px;
}


.optionOut.activeOut {
    background: linear-gradient(90deg, #f0dded 0%, #facace 100%);
}
.optionOut.activeOut div {
    background: white;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.InOutText {
    font-family: 'TTNormsPro-Light';
    font-size: 22px;
    color: var(--TextColor);
    text-decoration: none;
    cursor: pointer;
}

